<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>这里写下你的在服务器的下载路径例如（http://ip:port/app/xxx.ipa）</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://enterprise.cloudpay.com.cn/app/packages/iphone-2x.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>com.htunmall.haitunhui</key>
<string>BT.Avanker</string>
<key>1.1.2</key>
<string>1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>海豚汇PLUS</string>
</dict>
</dict>
</array>
</dict>
</plist>
